# Files not to put in the repo.
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.DS_Store
Data/Abstracts
Data/Proj
Data/*.sqlite
Data/abstracts.zip
Data/Q*
Data/q*
Data/dt*
Data/OpenRefine
Data/soft*
Data/data*
Data/mail*
Data/esrc*
Data/fname*
Data/on*
Data/org*
Data/wf*
Data/table*
*.xlsx
Data/HESA/
Data/survey-results.csv
*.docx
Src/TestGraphProblem.R
*.zip
*.swp
Src/03_AnalysisByGenderCareerStageFunderDiscipline.Rmd
Src/SurveyResults_files/
*~
